{% extends 'base.html' %} 

<title>Currency Calculator</title>

{% block content %}
    <h1>Currency Calculator</h1><br>

    <form method="post" action="/calc/">  
      <div class="container">
        <label for="codes">Please select:</label>
        <select name="code" id="codes">
            {% for code in codes %}
            <option value="{{ code }}">{{ code }}</option>
            {% endfor %} 
        </select>
        
        <label for="amount"><b>Your amount:</b><input type="text" placeholder="Enter your value" name="amount" required></label>
        
        <button type="submit" class="btn">Count</button>

        <br><br><br>
        <label for="payment" name="payment"><b>Your payment: {{payment}}</label> (PLN)

      </div>
    </form>
{% endblock %}