{% extends 'base.html' %} 

<title>Currency Calculator</title>

{% block body %}
    <h1>Currency Calculator</h1><br>

    <form method="post" action="/calc/">  
      <div class="container">
        <span>Please select</span>

        <select name="user_select">
            {% for o in data %}
            <option value="{{ o.ask }}">{{ o.name }}</option>
            {% endfor %}
        </select>
          
        <label for="user_amount"><b>Your amount: </b></label>
        <input type="text" placeholder="Enter your value" name="user_amount" required><br>
       
        <button type="submit" class="btn">Count</button>

        <p>{{ result }} (PLN)</p>

      </div>
    </form>
{% endblock %}